---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Virtual Reality - Hack13">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8 text-pink-500">.hack// Franchise</h1>

    <p class="text-gray-900">
      When it comes to me trying to unwind and socialize, I end up turning to
      VR. There is so much to talk about here because it is amazing to be able
      to be my fursonas, or even explore worlds that are just dreamed up by
      people. First off I want to talk about my love isn't tied to any
      particular platform, but there are two different platforms I have spent
      time on.
    </p>
    <br />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-col items-center">
        <img
          src="/images/hobbies/vr/neos-1.webp"
          alt="old neos photo"
          class="mb-4"
        />
      </div>
      <div class="flex flex-col">
        <p class="text-gray-900">
          I spent a good bit of time in NeosVR, or now its successor Resonite. I
          love how it really feels like the SecondLife of VR platforms, as you
          create in realtime with others. I will say it is still something I
          think is niche platform, and I think that is okay. Sometimes it is
          better to focus on a niche, rather than have to bid for everyone's
          attention.
        </p>
        <p class="text-gray-900">
          One of my favorite features about Resonite, is that the platform
          doesn't rely on servers. User's sessions are hosted by the users, or
          by headless users. This really is huge, as it removes a huge cost
          burden on spinning up servers for users to have an instance on. This
          is a really cool feature, that I don't think people really consider
          that often.
        </p>
        <br />
        <p>
          As you can see from the image, it was a very different time in web
          design. The site was very artistic and the donate button in order to
          afford the hosting costs. I remember seeing the site and thinking how
          cool it was to have a site dedicated to .hack//. It was my place where
          I kept up with the latest news and content for the series. It was a
          great place to find lore, leaks of the G.U. series that was coming
          out, and even fan art. I remember checking this site pretty much every
          day when I got online.
        </p>
        <br />
        <img
          src="/images/shrines/hacksign05.webp"
          alt="dothack sign screencap"
          class="w-auto"
        />
      </div>
    </div>
  </main>
</Layout>
