---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Shrines">
  <div class="text-center mb-4">
    <img
      src="/images/sparkle-divider.gif"
      alt="sparkly divider"
      class="mx-auto"
    />
  </div>

  <h1 class="text-3xl font-bold text-center mb-4 font-comic">
    ✨ Shrines To My Favorites ✨
  </h1>

  <p class="mb-6 text-center">
    This page sections out places I have a fondness for or used to have a huge
    love for.
  </p>

  <div class="text-center">
    <img
      src="/images/under-construction.gif"
      alt="Under Construction"
      class="mx-auto mb-2"
    />
    <p class="text-purple-600 animate-pulse">
      🚧 This shrine is under construction! 🚧
    </p>
  </div>

  <div class="text-center mt-4">
    <img
      src="/images/sparkle-divider.gif"
      alt="sparkly divider"
      class="mx-auto"
    />
  </div>
</Layout>
