---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="SL and OpenSim - Hack13">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8 text-pink-500">
      SecondLife &amp; OpenSim
    </h1>
    <h3 class="text-2xl font-semibold mb-4 text-purple-600">SecondLife</h3>
    <p class="text-gray-900">
      SecondLife will always have a deep place in in my heart because I am
      someone who got my start playing in late teens. It is also where I first
      found the furry community, and fell down that rabbit hole. It also was a
      place that played into my childhood dreams of virtual worlds, something I
      had always kinda dreamed of. This kinda was some of the first bits of
      getting into scripting, learning to code, and even wanting to learn more
      about computers to make things like SecondLife.
    </p>
    <img
      src="/images/secondlife-1.webp"
      alt="SecondLife Screenshot"
      class="mt-4 rounded-lg shadow-lg"
    />
    <tt class="text-sm center text-gray-600"
      >A screenshot of my avatar in SecondLife, with my guilty pleasure gambling
      on OnLive SL Client.</tt
    >
    <br />
    <h3 class="text-2xl mt-4 font-semibold mb-4 text-purple-600">
      OpenSimulator
    </h3>
    <p class="text-gray-900">
      So with that growth and love of virtual worlds, I started to get more
      involved in OpenSimulator, which is an open source project that is a
      server-side application that is compatible with the SecondLife client. It
      was something that allowed me to have more control over my virtual world
      experience, and also allowed me to learn more about server management. It
      was also where I got my first start of being a freelance developer, and
      doing work managing virtual worlds for others.
    </p>
    <img
      src="/images/opensim-1.webp"
      alt="OpenSimulator Screenshot"
      class="mt-4 rounded-lg shadow-lg"
    />
    <tt class="text-sm center text-gray-600"
      >A screenshot of my avatar in my first grid I setup called CyberWrld(long
      defunct)</tt
    >
    <br />
  </main>
</Layout>
