---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <p>I am page content</p>
  <p>What is my purpose? Why am I here?</p>
  <p>What on earth is this place? what happened to me? where am I?</p>
</Layout>
